@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(to right, #7e0000b9, #00000086);
  background-image: url(/sunset1.jpg);

  background-size: cover;
}

img {
  height: 5rem;
  width: 5rem;
}
